.grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 92px;
  justify-content: center;
}

.grid__image {
  width: 100%;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 64px 24px 0;
    margin: 0;
  }
}

@media (max-width: 544px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 288px;
    margin: 0 auto;
    padding: 38px 16px;
  }
}
