.intro {
  margin: 0 auto;
  max-width: 984px;
}

.intro__title {
  color: #ffffff;
  font-family: "inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  max-width: 830px;
}

.intro__quote {
  color: #ffffff;
  font-family: "inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  max-width: 738px;
}

.intro__autor {
  color: #ffffff;
  font-family: "inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  text-align: end;
  max-width: 738px;
}

.intro__text {
  color: #ffffff;
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  max-width: 722px;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 100%;
    padding: 0 24px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.09;
  }
}

@media (max-width: 544px) {
  .intro {
    padding: 0 16px;
    max-width: 288px;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    margin-top: 64px;
    margin-bottom: 40px;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 1.25;
  }
}
